{% extends "base/base.html" %}

{% block title %}Lista de Pacientes{% endblock %}

{% block page_title %}{% if tipo_lista == 'inactivos' %}Pacientes Inactivos{% else %}Pacientes Activos{% endif %}{% endblock %}

{% block page_subtitle %}{% if tipo_lista == 'inactivos' %}Gestión y consulta de pacientes dados de baja o inactivados{% else %}Gestión y seguimiento clínico de pacientes activos{% endif %}{% endblock %}

{% block content %}
<div class="max-w-7xl mx-auto space-y-6">
    {% include 'pacientes/partials/_buscador_y_filtros.html' %}
    {% include 'pacientes/partials/_tabla_pacientes.html' %}
</div>
{% endblock %}
