.layout {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    height: 100vh; /* Hace que ocupe toda la altura de la pantalla */
    position: fixed; /* Lo mantiene fijo en su lugar */
    top: 0;
    left: 0;
    background-color: #1565c0;
    color: white;
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar .logo {
    display: block;
    max-width: 80%;
    margin: 0 auto;
    height: auto;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li {
    padding: 15px;
}

.sidebar nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

.sidebar nav ul li a:hover {
    background-color: #0d47a1;
    padding: 10px;
    border-radius: 5px;
}

.content {
    margin-left: 250px; /* Ajusta el contenido para que no se superponga con el sidebar */
    flex-grow: 1;
    padding: 20px;
}
